body {
    background: #333;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-image: url("./Image/bg2.png");
    background-size: cover;
    background-position: center;
    transition: transform 1s ease-in-out;
}

body.slide-out {
    transform: translateX(-100%);
}

#stage {
    position: relative;
    width: 100%;
    height: 100%;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 500px;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-inner {
    width: 100%;
    height: 100%;
    background-image: url("./Image/gameLogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: shake 1.5s ease-in-out infinite;
}

@keyframes shake {

    0%,
    100% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(5deg);
    }

    40% {
        transform: rotate(-5deg);
    }

    60% {
        transform: rotate(4deg);
    }

    80% {
        transform: rotate(-4deg);
    }
}

.animal {
    position: absolute;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-size: 192px 48px;
    image-rendering: pixelated;
    will-change: transform, background-position;
    transform: translateX(-100px);
}

@keyframes walk {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -192px 0;
    }
}

@keyframes moveRight {
    from {
        transform: translateX(0) scaleX(1);
    }

    to {
        transform: translateX(120vw) scaleX(1);
    }
}

@keyframes moveLeft {
    from {
        transform: translateX(0) scaleX(-1);
    }

    to {
        transform: translateX(-120vw) scaleX(-1);
    }
}

.animal.left {
    transform: scaleX(-1);
}

.pig {
    background-image: url("./Image/DaintyPig.png");
}

.goose {
    background-image: url("./Image/HonkingGoose.png");
}

.wolf {
    background-image: url("./Image/TimberWolf.png");
}

.chick {
    background-image: url("./Image/TinyChick.png");
}